/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.player-indiana {
	 -fx-border-radius: 30.0;
	 -fx-background-image: url(../Assets/indy.png);
	 -fx-background-size: 120.0px 120.0px;
	 -fx-background-repeat: no-repeat;
	 -fx-background-position: center;
}

.player-lara {
	 -fx-border-radius: 30.0;
	 -fx-background-image: url(../Assets/lara.png);
	 -fx-background-size: 120.0px 120.0px;
	 -fx-background-repeat: no-repeat;
	 -fx-background-position: center;
}

.player-alan {
	 -fx-border-radius: 30.0;
	 -fx-background-image: url(../Assets/alan.png);
	 -fx-background-size: 120.0px 120.0px;
	 -fx-background-repeat: no-repeat;
	 -fx-background-position: center;
}

.player-someone {
	 -fx-border-radius: 30.0;
	 -fx-background-image: url(../Assets/someone.png);
	 -fx-background-size: 120.0px 120.0px;
	 -fx-background-repeat: no-repeat;
	 -fx-background-position: center;
}

.screen1 {
	-fx-background-image: url(../Assets/screen1.png);
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
}

.screen2 {
	-fx-background-image: url(../Assets/screen2.png);
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
}

.screen3 {
	-fx-background-image: url(../Assets/screen3.png);
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
}

.text {
	-fx-background-color: rgba(255,255,255,0.6);
	-fx-background-repeat: repeat;
}

.screen4 {
	-fx-background-image: url(../Assets/screen4.png);
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
}

.popUp {
	-fx-background-image: url(../Assets/tileScreen.png);
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
}